// COLORS
$color-orange: orange;
$color-secondary-first: #ffcc14;
$color-secondary-second: #c53b00;
// $color-secondary-first: #ffb900;
$color-orange-dark: #ff7730;
$color-brown: brown;
$color-green: rgb(10, 221, 10);

$color-tertiary-first: #e3ff0e;
$color-tertiary-second: #045307;
// $color-tertiary-first: #2998ff;
// $color-tertiary-second: #5643fa;
$color-gray: #777;
$color-gray-light: #999;
$color-gray-dark: #333;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-red: #c32b2b9b;
$color-blue: #1912e8a0;
$color-purple: #8120b5a0;
$color-primary-first: red;
$color-primary-second: blue;
$color-primary: purple;
$color-white: #ffffff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;