.row {
    max-width: &grid-width;
    margin: 0 auto;

    &:note(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    .col-1-of-2 {
        width: calc((100% - $gutter-horizontal) / 2);
        float: left;
        &:note(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

}